<VMContext VM="RealTimePush" OnStateChange="(IHelloWorldState newState) => { state = newState; StateHasChanged(); }">
    <div>
        <p>@state?.Greetings</p>
        <p>Server time is: @state?.ServerTime</p>
    </div>
</VMContext>

@code {
    private IHelloWorldState state;

    public interface IHelloWorldState
    {
        string Greetings { get; set; }
        string ServerTime { get; set; }
    }
}