<VMContext VM="RealTimePush" TState="IHelloWorldState" OnStateChange="UpdateState">
    <div>
        <p>@state?.Greetings</p>
        <p>Server time is: @state?.ServerTime</p>
    </div>
</VMContext>

@code {
  private IHelloWorldState state;

    public interface IHelloWorldState
    {
        string Greetings { get; set; }
        string ServerTime { get; set; }
    }

    private void UpdateState(IHelloWorldState state)
    {
        this.state = state;
        StateHasChanged();
    }
}