@page "/compositeview"
@inject IStyleSheet StyleSheet

<ExampleLayout VM="CompositeViewDoc">
    <VMContext VM="CompositeViewVM" TState="object">
        <d-panel css="@StyleSheet["CompositeView"]" horizontal="true">
            <section>
                <VMContext VM="FilterableMovieTableVM" TState="object">
                    <MovieTable />
                </VMContext>
            </section>
            <aside>
                <MovieDetails />
                <MovieFilter />
            </aside>
        </d-panel>
    </VMContext> 
</ExampleLayout>