html {
    -webkit-font-smoothing: antialiased;
    font-size: .9rem;
}

body {
    background-color: #f4f4f4;
    height: 100vh;
}

d-header {
    display: flex;
    align-items: center;
}

    d-header > * {
        height: unset !important;
    }

strong {
    font-weight: 500;
    color: #6aa828;
    background-color: rgba(255, 255, 255, .6);
    padding: 0 4px;
    border-radius: 2px;
}

b {
    font-weight: 500;
    background-color: rgba(255, 255, 255, .6);
}

.theme-dark strong {
    background-color: rgba(255, 255, 255, .2);
}

p,
.markdown div > ul > li {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

div > h2 {
    margin-bottom: 1rem;
}

.markdown pre {
    margin: 0;
    font-size: .9rem;
}

    .markdown pre .language-jsx,
    .markdown pre .language-html {
        font-size: 1rem;
    }

    .markdown pre span.prism-code {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .markdown pre + p {
        margin-top: 1rem;
    }

.markdown h2 {
    margin-bottom: 2rem;
}

.markdown h4 {
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;
}

.markdown * + * > h4,
.markdown * + h4 {
    margin-top: 3rem;
}

.markdown blockquote {
    border-left: .5rem solid #ccc;
    padding-left: 1rem;
    margin-left: 3rem;
    font-style: italic;
}

.markdown ol {
    margin-left: -1.5rem;
    font-weight: 600;
}

.toc-h5 {
    font-size: .9rem;
}

@media (max-width: 768px) {
    html,
    .markdown pre,
    .markdown pre .language-jsx {
        font-size: .9rem;
    }
}

.theme-dark td {
    color: #fff;
}

.theme-dark tr:hover td {
    color: #333;
}

.theme-dark .card {
    background-color: #333;
}

.lds-hourglass {
    margin: 1rem;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 32px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1.2s infinite;
    }

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}