<VMContext VM="HelloWorld" TState="HelloWorldState" OnStateChange="HandleStateChange">
    <div>@state?.Greetings</div>
</VMContext>

@code {
   private HelloWorldState state;

   private class HelloWorldState
   {
       public string Greetings { get; set; }
   }

   private void HandleStateChange(HelloWorldState newState)
   {
       state = newState;
       StateHasChanged();
   }
}