<VMContext @ref="@vm" VM="ServerUpdate" TState="ServerUpdateState" OnStateChange="@HandleStateChange">
    <div>
        <p>@state?.Greetings</p>
        <input type="text" @bind="person.FirstName" />
        <input type="text" @bind="person.LastName" />
        <button @onclick="@HandleSubmit">Submit</button>
    </div>
</VMContext>

@code {
   private VMContext<ServerUpdateState> vm;
   private ServerUpdateState state;
   private Person person = new Person();

   private class ServerUpdateState
   {
       public string Greetings { get; set; }
   }

   private class Person
   {
       public string FirstName { get; set; }
       public string LastName { get; set; }
   }

   private void HandleSubmit()
   {
       _ = vm.DispatchAsync("Submit", person);
   }

   private void HandleStateChange(ServerUpdateState newState)
   {
       state = newState;
       StateHasChanged();
   }
}