.github-sponsor {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 3px 12px;
  background: #fafbfc;
  text-align: center;
  max-width: 8rem;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    color: #ea4aaa;
    fill: currentColor;
    margin-right: 5px;
  }
}
