@inherits LayoutComponentBase
@inject IStyleSheet StyleSheet
@inject NavigationManager NavigationManager

<d-main css="@StyleSheet["MainLayout"]">
    <d-nav>
        <d-panel>
            <VMContext VM="MainNav" TState="object">
                <d-nav-menu id="NavMenu" selected="@selectedRoute"></d-nav-menu>
            </VMContext>
        </d-panel>
    </d-nav>
    <d-header>
        <d-nav-drawer-button css="margin-left: 1rem"></d-nav-drawer-button>
        <d-panel css="margin-left: 1rem">
            <a href="@("/" + basePath)"><img width="200px" src="@dotNetifyIcon"></a>
        </d-panel>
    </d-header>
    <d-section>
        <d-panel>
            @Body
        </d-panel>
    </d-section>
    <d-footer>
    <div class="license-notice">
        © 2015-2020 Dicky Suryadi. Licensed under the{" "}
        <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache license version 2.0</a>
    </div>
    </d-footer>
</d-main>

@code {
   private readonly string dotNetifyIcon = Website.Client.Properties.Resources.DotNetifyIcon;
   private readonly string basePath = "blazor/";
   private string selectedRoute;

   protected override void OnInitialized()
   {
       this.selectedRoute = ToRouteId(NavigationManager.Uri);
       NavigationManager.LocationChanged += (sender, e) => { selectedRoute = ToRouteId(e.Location); StateHasChanged(); };
   }

   private string ToRouteId(string uri) => this.basePath + NavigationManager.ToBaseRelativePath(uri);
}