<StyleSheet Context="this">
    <d-panel horizontal="true" middle="true" gap="2rem">
        <a href="" class="active">
            Core
        </a>
        <a href="https://dotnetify.net/elements">
            Elements
        </a>
    </d-panel>
</StyleSheet>