& {
  max-width: 1268px;
  padding: 0 1rem;
  b {
    color: #ce4844;
    font-weight: 500;
  }

  table {
    font-size: unset;
    width: 100%;
  }

  tr {
    td {
      padding-bottom: 1.5rem;
    }

    td:first-child {
      font-weight: 500;
      display: flex;
      flex-direction: column;
      > label {
        font-weight: normal;
        font-size: small;
      }
    }

    td:nth-child(2) {
      width: 70%;
      padding-right: 1.5rem;
      li {
        cursor: pointer;
      }

      li:hover {
        background: #efefef;
      }

      input ~ * {
        margin-left: 0rem;
        margin-right: 0rem;
        > li {
          padding-left: 0.75rem;
        }
      }

      label {
        cursor: pointer;
        user-select: none;
        margin-right: 1.5rem;
      }
    }

    button.label-success {
      margin-left: 3rem;
      background: #5cb85c;
    }

    button.label-warning {
      margin-left: 3rem;
      background: #f0ad4e;
    }

    button {
      min-width: 6rem;
    }
  }
}
