@page "/counter"

<h1>Counter</h1>
<VMContext VM="Counter" OnStateChange="(ICounterState newState) => { state = newState; StateHasChanged(); }">
    <p>Current count: @state?.CurrentCount</p>
    <button class="btn btn-primary" @onclick="state.IncrementCount">Click me</button>
</VMContext>

@code {
   ICounterState state = TypeProxy.CreateInstance<ICounterState>();

   public interface ICounterState
   {
       int CurrentCount { get; set; }
       void IncrementCount();
   }
}