@page "/helloworld"
@inject IStylesheet Stylesheet

<ExampleLayout VM="HelloWorldDoc">
    <VMContext VM="HelloWorldVM" OnStateChange="(IHelloWorldState state) => UpdateState(state)">
    @if (state != null)
    {
        <d-panel css='@Stylesheet["HelloWorld"]'>
            <section>
                <div>
                    <label>First name:</label>
                    <input type="text" class="form-control" @bind="state.FirstName">
                </div>
                <div>
                    <label>Last name:</label>
                    <input type="text" class="form-control" @bind="state.LastName">
                </div>
            </section>
            <div>
                Full name is <b>@state.FullName</b>
            </div>
        </d-panel> 
    }
    </VMContext>
</ExampleLayout>

@code {
   private IHelloWorldState state;

   public interface IHelloWorldState
   {
       [Watch] string FirstName { get; set; }
       [Watch] string LastName { get; set; }
       string FullName { get; set; }
   }

   private void UpdateState(IHelloWorldState state)
   {
       this.state = state;
       StateHasChanged();
   }
}