@page "/dashboard" 

    <VMContext VM="Dashboard" OnStateChange="(DashboardState state) => { this.state = state; StateHasChanged(); }">
        @if (state == null)
        {
            <div class="spinner lds-hourglass" />
        }
        else
        {
            <d-panel>
                <d-panel horizontal="true" wrap="true">
                    <d-panel>
                        <InfoCard Id="Download" Color="#1c8adb"></InfoCard>
                    </d-panel>
                    <d-panel>
                        <InfoCard id="Upload" Color="#5cb85c"></InfoCard>
                    </d-panel>
                    <d-panel>
                        <InfoCard id="Latency" Color="#f0ad4e"></InfoCard>
                    </d-panel>
                    <d-panel>
                        <InfoCard id="Users" Color="#d9534f"></InfoCard>
                    </d-panel>
                </d-panel>
                <d-panel>
                    <d-card>
                        <d-panel horizontal="true">
                            <d-panel flex="70%">
                                <h4>Network Traffic</h4>
                                <d-line-chart id="Traffic" height="75px" streaming="true" />
                            </d-panel>
                            <d-panel flex="30%">
                                <h4>Utilization</h4>
                                <d-pie-chart id="Utilization" />
                            </d-panel>
                        </d-panel>
                    </d-card>
                    <d-panel horizontal="true">
                        <d-panel flex="40%">
                            <ActivitiesCard Activities="@state.RecentActivities" />
                        </d-panel>
                        <d-panel flex="60%">
                            <d-card>
                                <h4>Server Usage</h4>
                                <d-bar-chart id="ServerUsage" height="70px"></d-bar-chart>
                            </d-card>
                        </d-panel>
                    </d-panel>
                </d-panel>
            </d-panel>
        }
    </VMContext>

@code {
   private DashboardState state;

   public class Activity
   {
       public int Id { get; set; }
       public string PersonName { get; set; }
       public string Status { get; set; }
       public int StatusId { get; set; }
   }

   private class DashboardState
   {
       public Activity[] RecentActivities { get; set; }
   }
}