d-card {
  display: flex;
  .card-body {
    padding: 0.5rem 1.5rem;
    min-width: 12rem;

    @media (max-width: 1600px) {
         min-width: 24rem;
    }
    @media (max-width: 1270px) {
         min-width: 16rem;
    }
  }
  > label,
  > h3 {
    display: none;
  }
}

h3 {
  font: 600 2rem Helvetica;
}

i {
  font-size: 3rem;
  max-width: 6rem;
  padding: 1.5rem;
  opacity: 0.8;
  color: white;
  background: $icon-bg-color;
}